@{
    ViewBag.Title = "Home Page";
}

<h1 style="font-family: monospace; margin-top: 91.1px; margin-left: 640px; margin-bottom: 50px;"><font color="#222d32"><b>Airline Reservation System</b></font></h1>

<p style="color: #222d32; margin-left: 570px; margin-top: -20px; ">
    <br>
    This website allows users to book flights. 
    Use the links on the left side to navigate the website.
</p>
<br>
<ul style="margin-top: 20px; color: #222d32; margin-left: 260px; margin-bottom: 421px; text-align: center; list-style: none; " ">
    <li><i style="font-weight:bold">Flights link</i>: Contains a list of all airlines, their seat capacity and prices.</li>
    <li><i style="font-weight:bold">Timetable link</i>: Contains a list of all airline flights, their departure dates,<br /> departure times, the destination and the source location of the flight.</li>
    <li><i style="font-weight:bold">Tickets link</i>: Contains a list of all bookings made by users <br /> (Only administrators can see this link).</li>
</ul>